<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.php?action=accueil">ACCUEIL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="index.php?action=sessions_disponibles">Sessions</a>
      <a class="nav-item nav-link" href="index.php?action=liste_stagiaires">Stagiaires</a>
      <a class="nav-item nav-link" href="index.php?action=add_stagiaire">Ajout Stagiaire</a>
      <a class="nav-item nav-link" href="index.php?action=add_session">Ajout Session</a>
      <a class="nav-item nav-link" href="index.php?action=add_module">Ajout Module</a>
    </div>
  </div>
</nav>